.login-block {
    width: 320px;
	padding: 20px;
    background: #fff;
    border-radius: 5px;
   
    margin: 0 auto;
	float:right;
}

.login-block h1 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
	color:#5EC208;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#username {
    background: #fff url(../img/user.png) 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #fff url(../img/user.png) 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url(../img/pass.png) 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #fff url(../img/pass.png) 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #5EC208;
	color:#5EC208;
}

.login-block input#login {
    width: 100%;
    height: 40px;
    background: #5EC208;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #5EC208;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
	padding-left:0px;
}

.login-block input#login:hover {
    background: #85e036;
}
